*{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
i{
    /* 设置文字样式 */
    font-style: normal;
}
html,body{
    width: 100%;
    height: 100%;
}